@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    
}

html {
 --blue: #3EA1DB;
--blue-dark: #574AE8;
--white: #FFF;

--title: #313131;
--text: #B6B6B6;

--linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

body {
    background-color: #F3F5F7;
    width: 100%;
    height: auto;
    
    
}

a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
}

p {
    color: var(--title);
    text-align: justify;
    font-size: 1rem;
    color: #000000;
    font-family:'Inter', sans-serif;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #000000;
    font-family: 'Lexend Deca', sans-serif;
}

header {
    background: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
    height: auto;
    margin-bottom: 5rem;
    width: 100%;
    
}

button#darkmode {
    padding: 1rem;
    background-color: transparent;
    outline-style: none;
}

img#img-darkmode {
    height: 1.5rem;
}


nav#options {
    position: relative;
    left: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width:60%;
}




input {
    width: 40%;
    height: 2.5rem;
    outline-style: none;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    background-color: #ffffff25;
    padding: 1rem 1rem 1rem 3rem;
    margin-top: 1rem;
    color: var(--white);
    background-image: url(/Desafio-Codelandia/assets/img/Vector.svg)  ;
    background-size: 1.2rem;
    background-position:0.9rem 0.7rem;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

button#href-search{
    width: 20%;
    height: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    outline-style: none;
    background-color: #ffffff25 ;
    color: white;
    text-align: center;
    padding: 0.6rem 0;
}

input::placeholder {
    color: var(--white);
    opacity: 0.7;
    font-family: 'Lexend Deca', sans-serif;
}

main {
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: column;
    height: 60rem;
    width: 100%; 
}

section {
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: #ffffff;
    height: auto;
    width: 60%;
   border: 0.1rem solid black;
}

footer {
    margin-top: 5rem ;
}

div#linha {
    display: flex;
    justify-content: space-between;
}

div#linha p {
 font-size: 0.7rem;
}

img {
    cursor: pointer;
}

/*RESPONSIVE CELLPHONE*/

@media (max-width: 1055px){
   main {
    height: 70rem;
   }
}

@media (max-width: 835px){
    main {
     height: 80rem;
    }

    html {
        font-size: 0.9rem;
    }
 
 }

 @media (max-width: 663px){
    main {
     height: 90rem;
    }

    html {
        font-size: 0.8rem;
    }

    section {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    nav#options, input {
        width: 90%;
        left: 5%;
       
    }
 }

 /*RESPONSIVE TV*/

 @media (min-width: 1589px){
    section {
        width: auto;
    }

    html {
        font-size: 1.5rem;
    }
 }


